{% extends 'faculty_end/base.html' %}
{% load static %}
{% block content %}

<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Attendance
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <form method="GET" action="{% url 'attendance_record' %}">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 mb-1">
                    <select class="form-select" name="filter" id="filter">
                        <option value="last_7_days" {% if filter_option == 'last_7_days' %}selected{% endif %}>Last 7 Days</option>
                        <option value="last_month" {% if filter_option == 'last_month' %}selected{% endif %}>Last Month</option>
                        <option value="all" {% if filter_option == 'all' %}selected{% endif %}>All</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 mb-1">
                    <button class="btn btn-primary" type="submit">Apply Filter</button>
                </div>
            </div>  
        </form>
        
        <div class="card">
            <div class="card-body">
                <table id="AllFacultyAttendanceRecord" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Time in/Time out</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Status</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in merged_data %}
                        <tr>
                            <td>{% if item.time_in %}Time in{% elif item.time_out %}Time out{% endif %}</td>
                            <td>{{ item.date }}</td>
                            <td>{% if item.time_in %}{{ item.time_in }}{% elif item.time_out %}{{ item.time_out }}{% endif %}</td>
                            <td>{{ item.status }}</td>
                            <td>{{ item.location }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>                                                                      
            </div>
        </div>        
    </div>
</div>
{% block css %}
<style>
    thead input {
        width: 100%;
    }
</style>
{% endblock %}

{% block javascript %}

<!-- Additional JavaScript for the specific page -->
<script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#AllFacultyAttendanceRecord thead tr').clone(true).addClass('filters').appendTo('#AllFacultyAttendanceRecord thead');
    
        var table = $('#AllFacultyAttendanceRecord').DataTable({
            scrollCollapse: true,
            orderCellsTop: true,
            fixedHeader: true,
            order: [[0, 'desc']],
            scrollX: true,
            dom: 'Bfrtlip',
            buttons: [
                {
                    extend: 'print',
                    title: 'Attendance Record - ' + new Date().toLocaleDateString(),
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excel',
                    title: 'Attendance Record - ' + new Date().toLocaleDateString(),
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdf',
                    title: 'Attendance Record - ' + new Date().toLocaleDateString(),
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                'colvis'
            ],
            initComplete: function() {
                var api = this.api();
    
                api.columns().eq(0).each(function(colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq($(api.column(colIdx).header()).index());
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');
    
                    $('input', $('.filters th').eq($(api.column(colIdx).header()).index()))
                        .off('keyup change')
                        .on('keyup change', function(e) {
                            e.stopPropagation();
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})';
                            var cursorPosition = this.selectionStart;
    
                            api
                                .column(colIdx)
                                .search((this.value != "") ? regexr.replace('{search}', '(((' + this.value + ')))') : "", this.value != "", this.value == "")
                                .draw();
                            $(this).focus()[0].setSelectionRange(cursorPosition, cursorPosition);
                        });
    
                    if (colIdx === api.columns().eq(0).length - 1) {
                        // Include filter input for the last column
                        $(cell).html('<input type="text" placeholder="' + title + '" />');
                    }
                });
            }
        });
    });
    // Get the current date
    var currentDate = new Date();

    // Get the month name
    var monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"];
    var month = monthNames[currentDate.getMonth()];

    // Get the day and year
    var day = currentDate.getDate();
    var year = currentDate.getFullYear();

    // Format the date as Month Day, Year
    var formattedDate = month + " " + day + ", " + year;

    // Display the formatted date in the specified element
    document.getElementById("current-date").textContent = formattedDate;

    $(document).ready(function () {
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        toastr.success('{{ message }}');
        {% elif message.tags == 'error' %}
        toastr.error('{{ message }}');
        {% else %}
        toastr('{{ message }}');
        {% endif %}
        {% endfor %}
        {% endif %}
    });
</script>
{% endblock %}
{% endblock %}