{% load static %}
<header class="navbar navbar-expand-md d-print-none">
    <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu"
            aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href=".">
                <img src="{% static '/static/photos/pupqc_logo.png' %}" width="110" height="32" alt="Tabler" class="navbar-brand-image">
            </a>
        </h1>
        <div class="navbar-nav flex-row order-md-last">    
            {% if request.user.is_authenticated %}
            <div class="nav-item dropdown">
                <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
                    aria-label="Open user menu">
                    {% if request.user.user_picture %}
                    <span class="avatar avatar-sm"
                        style="background-image: url({{ request.user.user_picture.url }})"></span>
                    {% else %}
                    <!-- Provide a default image or placeholder if user_picture is not available -->
                    <span class="default-avatar"></span>
                    {% endif %}
                    <div class="d-none d-xl-block ps-2">
                        <div>{{ request.user.get_full_name }}</div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <a href="./profile.html" class="dropdown-item">Profile</a>
                    <a href="./settings.html" class="dropdown-item">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'faculty_logout' %}" class="dropdown-item">Logout</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</header>
<header class="navbar-expand-md">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar">
            <div class="container-xl">
                <ul class="navbar-nav">
                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="{% url 'qrcode_scanner' %}">
                            <span class="material-symbols-outlined">
                                qr_code_scanner
                                </span>
                            <span class="nav-link-title">
                                QR Scanner
                            </span>
                        </a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'qrcode_generator' %}">
                            <span class="material-symbols-outlined">
                                qr_code_2
                                </span>
                            <span class="nav-link-title">
                                QR Code Generator
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'leaveapp_list' %}">
                            <span class="material-symbols-outlined">
                                schedule_send
                                </span>
                            <span class="nav-link-title">
                                Leave Application
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'attendance_record' %}">
                            <span class="material-symbols-outlined">event_available</span>
                            <span class="nav-link-title">
                                Attendance
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./">
                            <span class="material-symbols-outlined">
                                notifications
                                </span>
                            <span class="nav-link-title">
                                Notification
                            </span>
                        </a>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
</header>