{% extends 'faculty_end/base.html' %}
{% load static %}
{% block content %}

<div class="page-wrapper">
<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Leave Application
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="row">
            <div class="col-lg-12 col-sm-12 mx-auto">
                <a href="{% url 'leaveapp_create' %}" class="btn btn-primary btn-md mb-2 w-100">File Leave
                    Application</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Leave Application List</h3>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-md-5 col-sm-12">
                                {% for leave_application in leave_applications %}
                                <div class="accordion m-1" id="accordion-{{ leave_application.id }}">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading-{{ leave_application.id }}">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ leave_application.id }}" aria-expanded="false">
                                            {{ leave_application.leave_datetime_submitted|date:"F j, Y" }} - {{ leave_application.leave_datetime_submitted|time:"g:i A" }}
                                        </button>
                                        </h2>
                                        <div id="collapse-{{ leave_application.id }}" class="accordion-collapse collapse" data-bs-parent="#accordion-{{ leave_application.id }}">
                                        <div class="accordion-body pt-0">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 m-1">
                                                    Leave Period:
                                                    <strong>
                                                        Start from {{ leave_application.leave_start_time|time:"g:i A" }} on {{ leave_application.leave_start_date }} to {{ leave_application.leave_end_time|time:"g:i A" }} on {{ leave_application.leave_end_date }}
                                                    </strong>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 m-1">
                                                    Status:
                                                    <strong>
                                                        <span class="
                                                            {% if leave_application.approval %}
                                                                {% if leave_application.approval.get_decision_display == 'Pending' %}
                                                                    badge bg-primary text-white
                                                                {% elif leave_application.approval.get_decision_display == 'Accepted' %}
                                                                    badge bg-success text-white
                                                                {% elif leave_application.approval.get_decision_display == 'Rejected' %}
                                                                    badge bg-danger text-white
                                                                {% endif %}
                                                                ">
                                                            {{ leave_application.approval.get_decision_display }}
                                                            {% else %}
                                                            badge bg-primary text-white">
                                                            Pending
                                                            {% endif %}
                                                        </span>
                                                    </strong>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 m-1">
                                                    View:
                                                    <strong>
                                                        <a href="{% url 'leaveapp_view' leave_application.id %}" class="btn btn-info btn-sm">View</a>
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block css %}
<!-- Include external CSS stylesheets -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<!-- Additional CSS for the specific page -->
<style>
    /* Your specific page CSS styles */
</style>
{% endblock %}

{% block javascript %}
<!-- Include external JavaScript libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!-- Additional JavaScript for the specific page -->
<script>
    {% comment %} Alert Message Scripts {% endcomment %}
    $(document).ready(function () {
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        toastr.success('{{ message }}');
        {% elif message.tags == 'error' %}
        toastr.error('{{ message }}');
        {% else %}
        toastr('{{ message }}');
        {% endif %}
        {% endfor %}
        {% endif %}
    });
</script>
{% endblock %}
{% endblock %}