{% extends 'faculty_end/base.html' %}
{% load static %}
{% block content %}

<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Leave Application
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="row">
            <div class="col-lg-12 col-sm-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Leave Application Form</h3>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <form id="leaveForm" method="post" action="{% url 'leaveapp_create' %}"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating mb-1">
                                                <input name="leave_start_date" type="date" class="form-control" id=""
                                                    value="" required>
                                                <label for="">Leave Start Date</label>
                                            </div>
                                        </div>
                                        <div class="col">

                                            <div class="form-floating mb-1">
                                                <input name="leave_start_time" type="time" class="form-control" id=""
                                                    value="" required>
                                                <label for="">Leave Start Time</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating mb-1">
                                                <input name="leave_end_date" type="date" class="form-control" id=""
                                                    value="" required>
                                                <label for="">Leave End Date</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating mb-1">
                                                <input name="leave_end_time" type="time" class="form-control" id=""
                                                    value="" required>
                                                <label for="">Leave End Time</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-1">
                                        <select name="leave_type" class="form-select" id="" required>
                                            <option selected>Open this select menu</option>
                                            <option value="Vacation leave (Annual leave)">Vacation leave (Annual leave)
                                            </option>
                                            <option value="Family and medical leave (FMLA)">Family and medical leave
                                                (FMLA)</option>
                                            <option value="Parental leave">Parental leave</option>
                                            <option value="Sick leave">Sick leave</option>
                                            <option value="Unpaid leave (or leave without pay)">Unpaid leave (or leave
                                                without pay)</option>
                                            <option value="Public holidays">Public holidays</option>
                                            <option value="Religious observance leave">Religious observance leave
                                            </option>
                                            <option value="Sabbatical leave">Sabbatical leave</option>
                                            <option value="Bereavement leave">Bereavement leave</option>
                                            <option value="Military leave">Military leave</option>
                                            <option value="Jury duty leave">Jury duty leave</option>
                                            <option value="Time off in lieu (TOIL)">Time off in lieu (TOIL)</option>
                                            <option value="Election day (Voting leave)">Election day (Voting leave)
                                            </option>
                                            <option value="Time off for protests">Time off for protests</option>
                                            <option value="Study leave">Study leave</option>
                                            <option value="Adverse weather leave">Adverse weather leave</option>
                                            <option value="Time off as a gift">Time off as a gift</option>
                                        </select>
                                        <label for="floatingSelect">Leave Type</label>
                                    </div>
                                    <div class="form-floating mb-1">
                                        <textarea name="leave_reason" class="form-control" type="text" rows="5"
                                            placeholder="Type something…"></textarea>
                                        <label class="form-label">Leave Reason</label>
                                    </div>
                                    <div class="form-floating mb-1">
                                        <input name="leave_supporting_docs" type="file" class="form-control" id=""
                                            value="">
                                        <label for="">Supporting Documents (Optional)</label>
                                    </div>
                                    <!-- Add the submit button -->
                                    <a class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#modal-leaveapp">Proceed</a>
                                    <div class="modal modal-blur fade" id="modal-leaveapp" tabindex="-1" role="dialog"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                                <div class="modal-status bg-info"></div>
                                                <div class="modal-body text-center py-4">
                                                    <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        class="icon mb-2 text-info icon-lg" width="24" height="24"
                                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                        <path
                                                            d="M10.24 3.957l-8.422 14.06a1.989 1.989 0 0 0 1.7 2.983h16.845a1.989 1.989 0 0 0 1.7 -2.983l-8.423 -14.06a1.989 1.989 0 0 0 -3.4 0z" />
                                                        <path d="M12 9v4" />
                                                        <path d="M12 17h.01" />
                                                    </svg>
                                                    <h3>Are you sure?</h3>
                                                    <div class="text-secondary">Double check your leave application.
                                                        What you've done cannot be undone.</div>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="w-100">
                                                        <div class="row">
                                                            <div class="col"><button class="btn w-100"
                                                                    data-bs-dismiss="modal">
                                                                    Cancel
                                                                </button></div>
                                                            <div class="col"><button type="submit"
                                                                    class="btn btn-primary w-100"
                                                                    data-bs-dismiss="modal">
                                                                    Confirm
                                                                </button></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block css %}
<!-- Include external CSS stylesheets -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<!-- Additional CSS for the specific page -->
<style>
    /* Your specific page CSS styles */
</style>
{% endblock %}

{% block javascript %}
<!-- Include external JavaScript libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!-- Additional JavaScript for the specific page -->
<script>
    {% comment %} Alert Message Scripts {% endcomment %}
    $(document).ready(function () {
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        toastr.success('{{ message }}');
        {% elif message.tags == 'error' %}
        toastr.error('{{ message }}');
        {% else %}
        toastr('{{ message }}');
        {% endif %}
        {% endfor %}
        {% endif %}
    });
</script>
{% endblock %}
{% endblock %}