{% extends 'faculty_end/base.html' %}
{% load static %}
{% block content %}

<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Time In
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<!-- Page body -->
<div class="page-body">

    <div class="container-xl">
        {% if time_logged %}
            <div class="card">
                <div class="container-tight py-4">
                    <div class="empty">
                    <div class="empty-header">You have Already Submitted your Time In!</div>
                    {% comment %} <p class="empty-title">Oops… You just found an error page</p> {% endcomment %}
                    <p class="empty-subtitle text-muted">
                        Time in could only be process once a day.
                    </p>
                
                    </div>
                </div>
            </div>



        
        {% else %}
            <div class="card">
                {% comment %} <div class="card-header">
                    <h3 class="card-title">Please scan the QR code to log your attendance.</h3>
                </div> {% endcomment %}
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            {% if error_message %}
                            <p>{{ error_message }}</p>
                            {% endif %}
                            
                            <form method="post" action="{% url 'log_time_in' %}">
                                {% csrf_token %}
                                {% if schedules %}
                                {% for schedule in schedules %}
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-1">
                                            <input name="room_name" type="text" class="form-control" id="room_name" value="{{ schedule.RoomName }}" readonly required>
                                            <label for="room_name">Room Name</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-1">
                                            <input name="time_in" type="time" class="form-control" id="time_in" value="{{ current_time }}" readonly required>
                                            <label for="time_in">Time In</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-1">
                                            <input name="time_out" type="time" class="form-control" id="time_out" value="{{ initial_time_out }}" readonly required>
                                            <label for="time_out">Time Out</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-1">
                                            <input name="date" type="text" class="form-control" id="date" value="{{ current_date }}" readonly required>
                                            <label for="date">Date</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-1">
                                            <input name="day" type="text" class="form-control" id="day" value="{{ current_day }}" readonly required>
                                            <label for="day">Day</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-1">
                                            <input name="month" type="text" class="form-control" id="month" value="{{ current_month }}" readonly required>
                                            <label for="month">Month</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-floating mb-1">
                                                    <textarea name="remarks" type="text" class="form-control" id="remarks"></textarea>
                                                    <label for="">Remarks</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-grid text-center w-100">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </form>                     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>



    {% endif %}


</div>

{% block css %}
<style>
</style>
{% endblock %}

{% block javascript %}
<script src="https://cdn.rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<script>
    // Get current date and time
    var now = new Date();

    // Autofill time
    var hours = now.getHours().toString().padStart(2, '0');
    var minutes = now.getMinutes().toString().padStart(2, '0');
    document.getElementById('time_in').value = hours + ':' + minutes;

    // Autofill day
    var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    document.getElementById('day').value = days[now.getDay()];

    // Autofill month
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    document.getElementById('month').value = months[now.getMonth()];

    // Autofill date
    var year = now.getFullYear();
    var month = (now.getMonth() + 1).toString().padStart(2, '0');
    var day = now.getDate().toString().padStart(2, '0');
    document.getElementById('date').value = year + '-' + month + '-' + day;
</script>
{% endblock %}
{% endblock %}