{% extends 'admin_end/base.html' %}
{% load static %}
{% block content %}

<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Notification
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="row">
            <div class="col-lg-12 col-sm-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Attendance Notification</h3>
                    </div>
                    <div class="list-group list-group-flush list-group-hoverable">
                        {% for notification in notifications %}
                            <div class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="badge {% if notification.status == 'On Time' %}bg-success{% elif notification.status == 'Late' %}bg-warning{% elif notification.status == 'Early' %}bg-info{% elif notification.status == 'Absent' %}bg-danger{% endif %}"></span>
                                    </div>
                                    <div class="col-auto">
                                            {% if notification.user.user_picture %}
                                                <span class="avatar" style="background-image: url({{ notification.user.user_picture.url }})"></span>
                                            {% else %}
                                                <span class="avatar" style="background-image: url(path/to/defaultPicture.png)"></span>
                                            {% endif %}
                                    </div>
                                    <div class="col text-truncate">
                                        <a href="#" class="text-reset d-block">{{ notification.user.user_firstname }} {{ notification.user.user_lastname }}</a>
                                        <div class="d-block text-secondary text-truncate mt-n1">
                                            {% if notification.time_in %}
                                                Time In {{ notification.date }} {{ notification.time_in }} Status: {{ notification.status }}
                                            {% elif notification.time_out %}
                                                Time Out {{ notification.date }} {{ notification.time_out }} Status: {{ notification.status }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
{% block css %}
<!-- Include external CSS stylesheets -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<!-- Additional CSS for the specific page -->
<style>
    /* Your specific page CSS styles */
</style>
{% endblock %}

{% block javascript %}
<!-- Include external JavaScript libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!-- Additional JavaScript for the specific page -->
<script>
    {% comment %} Alert Message Scripts {% endcomment %}
    $(document).ready(function () {
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        toastr.success('{{ message }}');
        {% elif message.tags == 'error' %}
        toastr.error('{{ message }}');
        {% else %}
        toastr('{{ message }}');
        {% endif %}
        {% endfor %}
        {% endif %}
    });
</script>
{% endblock %}
{% endblock %}