{% extends "admin_end/base.html" %}
{% load static %}
{% block content %}
<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          Overview
        </div>
        <h2 class="page-title">
          Dashboard
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- Page body -->
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-lg-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div id="chart-demo-pie"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div id="attendance-trends-chart"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div id="absenteeism-analysis-chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% block css %}
<!-- Include external CSS stylesheets -->

<!-- Additional CSS for the specific page -->
<style>

</style>
{% endblock %}

{% block javascript %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    Highcharts.chart('attendance-trends-chart', {
        title: {
            text: 'Attendance Trends'
        },
        xAxis: {
            categories: {{ dates|safe }}
        },
        yAxis: {
            title: {
                text: 'Attendance Count'
            }
        },
        series: [{
            name: 'Attendance',
            data: {{ attendance_counts|safe }}
        }]
    });
});

document.addEventListener('DOMContentLoaded', function () {
  Highcharts.chart('absenteeism-analysis-chart', {
      title: {
          text: 'Absenteeism Analysis'
      },
      xAxis: {
          categories: {{ faculty_names|safe }}
      },
      yAxis: {
          title: {
              text: 'Absence Count'
          }
      },
      series: [{
          name: 'Absence',
          data: {{ absence_counts|safe }}
      }]
  });
});
  $(document).ready(function () {
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                toastr.success('{{ message }}');
            {% elif message.tags == 'error' %}
                toastr.error('{{ message }}');
            {% else %}
                toastr('{{ message }}');
            {% endif %}
        {% endfor %}
    {% endif %}
});
</script>
{% endblock %}
{% endblock %}