{% extends "admin_end/base.html" %}
{% load static %}
{% block content %}
<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          Overview
        </div>
        <h2 class="page-title">
          Dashboard
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- Page body -->
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="btn btn-block w-100 my-2 btn-primary">TIME IN</div>
      </div>
    </div>
    <div class="row row-cards">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div id="earlyChart"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div id="lateChart"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div id="ontimeChart"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cards">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="btn btn-block w-100 my-2 btn-danger">TIME OUT</div>
      </div>
    </div>
    <div class="row row-cards">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div id="earlyTimeoutChart"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div id="lateTimeoutChart"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div id="ontimeTimeoutChart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% block css %}
<!-- Include external CSS stylesheets -->

<!-- Additional CSS for the specific page -->
<style>
  thead input {
        width: 100%;
    }
</style>
{% endblock %}

{% block javascript %}
<script src="https://code.highcharts.com/highcharts.js"></script>

<script>
  $(document).ready(function () {
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    toastr.success('{{ message }}');
    {% elif message.tags == 'error' %}
    toastr.error('{{ message }}');
    {% else %}
    toastr('{{ message }}');
    {% endif %}
    {% endfor %}
    {% endif %}
  });
  
  document.addEventListener('DOMContentLoaded', function () {
    // Fetch data for 'Early' status from TimeIn table
    fetch('/dashboard/early/')
        .then(response => response.json())
        .then(data => {
            Highcharts.chart('earlyChart', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Top 20 Faculty with Many Early Status Entries (Time in)'
                },
                series: [{
                    name: 'Faculty',
                    data: data
                }]
            });
        });

    // Fetch data for 'Late' status from TimeIn table
    fetch('/dashboard/late/')
        .then(response => response.json())
        .then(data => {
            Highcharts.chart('lateChart', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Top 20 Faculty with Many Late Status Entries (Time in)'
                },
                series: [{
                    name: 'Faculty',
                    data: data
                }]
            });
        });

    // Fetch data for 'On Time' status from TimeIn table
    fetch('/dashboard/ontime/')
        .then(response => response.json())
        .then(data => {
            Highcharts.chart('ontimeChart', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Top 20 Faculty with Many On Time Status Entries (Time in)'
                },
                series: [{
                    name: 'Faculty',
                    data: data
                }]
            });
        });

    // Fetch data for 'Early' status from TimeOut table
    fetch('/dashboard/timeout/early/')
        .then(response => response.json())
        .then(data => {
            Highcharts.chart('earlyTimeoutChart', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Top 20 Faculty with Many Early Status Entries (Time out)'
                },
                series: [{
                    name: 'Faculty',
                    data: data
                }]
            });
        });

    // Fetch data for 'Late' status from TimeOut table
    fetch('/dashboard/timeout/late/')
        .then(response => response.json())
        .then(data => {
            Highcharts.chart('lateTimeoutChart', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Top 20 Faculty with Many Late Status Entries (Time out)'
                },
                series: [{
                    name: 'Faculty',
                    data: data
                }]
            });
        });

    // Fetch data for 'On Time' status from TimeOut table
    fetch('/dashboard/timeout/ontime/')
        .then(response => response.json())
        .then(data => {
            Highcharts.chart('ontimeTimeoutChart', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Top 20 Faculty with Many On Time Status Entries (Time out)'
                },
                series: [{
                    name: 'Faculty',
                    data: data
                }]
            });
        });
});
</script>
{% endblock %}
{% endblock %}