{% extends "admin_end/base.html" %}
{% load static %}
{% block content %}
<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Overview
                </div>
                <h2 class="page-title">
                    Leave Application
                </h2>
            </div>
            <!-- Page title actions -->
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-body">
                <table id="leaveApp" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Leave Received (Date - Time)</th>
                            <th>Faculty Name</th>
                            <th>Start (Time - Date)</th>
                            <th>End (Time - Date)</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for leave_application in leave_applications %}
                            <tr {% if not leave_application.is_viewed %}class="new-application"{% endif %}>
                                <td>{{ leave_application.leave_datetime_submitted|date:"F j, Y" }}, {{ leave_application.leave_datetime_submitted|time:"g:i A" }}</td>
                                <td>{{ leave_application.user.get_full_name }}</td>
                                <td>{{ leave_application.leave_start_time|time:"g:i A" }} on {{ leave_application.leave_start_date|date:"F j, Y" }}</td>
                                <td>{{ leave_application.leave_end_time|time:"g:i A" }} on {{ leave_application.leave_end_date|date:"F j, Y" }}</td>
                                <td>{{ leave_application.leave_type }}</td>
                                <td>
                                    <span class="
                                        {% if leave_application.approval.get_decision_display|default:"Pending" == "Pending" %}
                                            badge bg-primary text-white
                                        {% elif leave_application.approval.get_decision_display|default:"Pending" == "Accepted" %}
                                            badge bg-success text-white
                                        {% elif leave_application.approval.get_decision_display|default:"Pending" == "Rejected" %}
                                            badge bg-danger text-white
                                        {% endif %}
                                        ">
                                        {{ leave_application.approval.get_decision_display|default:"Pending" }}
                                    </span>
                                </td>
                                <td>
                                    <a href="{% url 'leaveappreq_view' leave_application.id %}" class="btn btn-outline-info btn-sm">View</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>                    
                </table>                
            </div>
        </div>
    </div>
</div>
{% block css %}
<style>
</style>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#leaveApp thead tr').clone(true).addClass('filters').appendTo('#leaveApp thead');
    
        var table = $('#leaveApp').DataTable({
            scrollCollapse: true,
            orderCellsTop: true,
            fixedHeader: true,
            order: [[0, 'desc']],
            scrollX: true, // Add scrollX to enable horizontal scrolling
            dom: 'Bfrtlip', // Include buttons and exclude the search filter ('f')
            buttons: [
                {
                    extend: 'copy',
                    title: 'Faculty Schedule List - ' + new Date().toLocaleDateString(),
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    title: 'Faculty Schedule List - ' + new Date().toLocaleDateString(),
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excel',
                    title: 'Faculty Schedule List - ' + new Date().toLocaleDateString(),
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdf',
                    title: 'Faculty Schedule List - ' + new Date().toLocaleDateString(),
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                'colvis'
            ],
            initComplete: function() {
                var api = this.api();
                // For each column
                api.columns().eq(0).each(function(colIdx) {
                    // Exclude input filter for the last column
                    if (colIdx < api.columns().eq(0).length - 1) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq($(api.column(colIdx).header()).index());
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');
                        // On every keypress in this input
                        $('input', $('.filters th').eq($(api.column(colIdx).header()).index()))
                            .off('keyup change')
                            .on('keyup change', function(e) {
                                e.stopPropagation();
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();
                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search((this.value != "") ? regexr.replace('{search}', '(((' + this.value + ')))') : "", this.value != "", this.value == "")
                                    .draw();
                                $(this).focus()[0].setSelectionRange(cursorPosition, cursorPosition);
                            });
                    } else {
                        // Remove filter input for the last column
                        var cell = $('.filters th').eq($(api.column(colIdx).header()).index());
                        $(cell).html('');
                    }
                });
            }
        });
    });
    

    $(document).ready(function () {
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    toastr.success('{{ message }}');
                {% elif message.tags == 'error' %}
                    toastr.error('{{ message }}');
                {% else %}
                    toastr('{{ message }}');
                {% endif %}
            {% endfor %}
        {% endif %}
    });
</script>
{% endblock %}
{% endblock %}