{% extends "admin_end/base.html" %}
{% load static %}
{% block content %}
<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          Overview
        </div>
        <h2 class="page-title">
          Leave Application
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- Page body -->
<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Leave Application Details</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12">
            Faculty Name
          </div>
          <div class="col-lg-10 col-md-10 col-sm-12">
            <p><strong>{{ leave_application.user.get_full_name }}</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12">
            Application Status
          </div>
          <div class="col-lg-10 col-md-10 col-sm-12">
            <p><strong>{{ leave_application.approval.get_decision_display|default:"Pending" }}</strong></p>
          </div>
        </div>        
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12">
            Leave Period
          </div>
          <div class="col-lg-10 col-md-10 col-sm-12">
            <p>
              <strong>
                Start from {{ leave_application.leave_start_time|time:"g:i A" }} on {{ leave_application.leave_start_date }} to {{ leave_application.leave_end_time|time:"g:i A" }} on {{ leave_application.leave_end_date }}
              </strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12">
            Leave Type
          </div>
          <div class="col-lg-10 col-md-10 col-sm-12">
            <p>
              <strong>
                {{ leave_application.leave_type }}
              </strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12">
            Leave Reason
          </div>
          <div class="col-lg-10 col-md-10 col-sm-12">
            <p class="custom-justification">
              <strong>
                {{ leave_application.leave_reason }}
              </strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12">
            Supporting Document
          </div>
          <div class="col-lg-10 col-md-10 col-sm-12">
            <p>
              <strong>
                {% if leave_application.leave_supporting_docs %}
                <a href="{{ leave_application.leave_supporting_docs.url }}" target="_blank">View</a>
                {% else %}
                No supporting document
                {% endif %}
              </strong>
            </p>
          </div>
        </div>
        <form method="post" action="{% url 'leaveappreq_decision' leave_application.id %}" id="decisionForm">
          {% csrf_token %}
          <div class="mb-3">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-12">
                <label class="form-label" for="comment">Comment</label>
              </div>
              <div class="col-lg-10 col-md-10 col-sm-12">
                <textarea name="comment" class="form-control" for="comment" rows="5" id="commentTextarea">{{ leave_application.approval.comment }}</textarea>
                <button class="btn btn-primary mt-1" type="submit" name="decision" value="accepted" style="display: none;">Accept</button>
                <button class="btn btn-danger mt-1" type="submit" name="decision" value="rejected" style="display: none;">Reject</button>
              </div>
            </div>
          </div>
        </form>                
      </div>
    </div>
  </div>
</div>
{% block css %}
<style>
  .custom-justification {
    text-align: justify;
  }
</style>

    {% comment %} Include external JavaScript libraries {% endcomment %}
{% endblock %}

{% block javascript %}

    {% comment %} specific js {% endcomment %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Check if decision has been made
    var decisionStatus = "{{ leave_application.approval.decision|default:'' }}";

    // Disable textarea and hide buttons if decision has been made
    if (decisionStatus === "accepted" || decisionStatus === "rejected") {
      document.getElementById("commentTextarea").disabled = true;

      var buttons = document.querySelectorAll("#decisionForm button");
      buttons.forEach(function (button) {
        button.style.display = "none";
      });
    }
    // If decision has not been made, keep buttons visible
    else {
      var buttons = document.querySelectorAll("#decisionForm button");
      buttons.forEach(function (button) {
        button.style.display = "inline-block"; // Set to your desired display style
      });
    }
  });
</script>
{% endblock %}
{% endblock %}