{% extends "admin_end/base.html" %}
{% load static %}
{% block content %}

  {% block css %}
  <!-- Include external CSS stylesheets -->
  
  <!-- Additional CSS for the specific page -->
  <style>
    {% comment %} Your specific page CSS style  {% endcomment %}
  </style>
  {% endblock %}
  
  {% block javascript %}
  {% comment %} Include external JavaScript libraries {% endcomment %}

  {% comment %} Additional JavaScript for the specific page {% endcomment %}
  <script>
  
  </script>
  {% endblock %}
{% endblock %}