{% extends "admin_end/base.html" %}
{% load static %}
{% block content %}
<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Overview
                </div>
                <h2 class="page-title">
                    Facutly Shift
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <form class="card" method="post" action="{% url 'shift_update' user_id=faculty_user.id shift_id=shift.id %}">
            {% csrf_token %}
            <div class="card-header">
                <h3 class="card-title">Shift form</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label class="form-label required">Academic Year Start</label>
                        <div>
                            <select name="year_start" class="form-select">
                                {% for year in academic_years %}
                                <option value="{{ year.year_start }}">{{ year.year_start }}</option>
                                {% endfor %}
                                <option value="">Year</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label required">Academic Year End</label>
                        <div>
                            <select name="year_end" class="form-select">
                                {% for year in academic_years %}
                                <option value="{{ year.year_end }}">{{ year.year_end }}</option>
                                {% endfor %}
                                <option value="">Year</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label required">Semester</label>
                        <div>
                            <select name="semester_name" class="form-select">
                                <option value="">Semester</option>
                                <option value="First Semester" {% if 'First Semester' == shift.semester.semester_name %} selected {% endif %}>First Semester</option>
                                <option value="Second Semester" {% if 'Second Semester' == shift.semester.semester_name %} selected {% endif %}>Second Semester</option>
                                <option value="Summer" {% if 'Summer' == shift.semester.semester_name %} selected {% endif %}>Summer</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label class="form-label required">Shift Start</label>
                        <div>
                            <input name="shift_start" type="time" class="form-control" value="{{ shift.shift_start|time:'H:i' }}">
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label required">Shift End</label>
                        <div>
                            <input name="shift_end" type="time" class="form-control" value="{{ shift.shift_end|time:'H:i' }}">
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label required">Shift Day</label>
                        <div>
                            <select name="shift_day" class="form-select">
                                <option value="">Day</option>
                                <option value="Monday" {% if 'Monday' == shift.shift_day %} selected {% endif %}>Monday</option>
                                <option value="Tuesday" {% if 'Tuesday' == shift.shift_day %} selected {% endif %}>Tuesday</option>
                                <option value="Wednesday" {% if 'Wednesday' == shift.shift_day %} selected {% endif %}>Wednesday</option>
                                <option value="Thursday" {% if 'Thursday' == shift.shift_day %} selected {% endif %}>Thursday</option>
                                <option value="Friday" {% if 'Friday' == shift.shift_day %} selected {% endif %}>Friday</option>
                                <option value="Saturday" {% if 'Saturday' == shift.shift_day %} selected {% endif %}>Saturday</option>
                                <option value="Sunday" {% if 'Sunday' == shift.shift_day %} selected {% endif %}>Sunday</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
        </form>
    </div>
</div>
{% block css %}
<!-- Include external CSS stylesheets -->

<!-- Additional CSS for the specific page -->
<style>

</style>

{% comment %} Include external JavaScript libraries {% endcomment %}
{% endblock %}

{% block javascript %}

{% comment %} specific js {% endcomment %}
<script>
    // Function to populate the select element with options
    function populateYears() {
        var startYearSelect = document.getElementsByName('year_start')[0];
        var endYearSelect = document.getElementsByName('year_end')[0];
        var currentYear = new Date().getFullYear();

        // Add options for each year from 2010 to current year
        for (var year = 2010; year <= currentYear; year++) {
            var option = document.createElement('option');
            option.value = year;
            option.textContent = year;
            startYearSelect.appendChild(option.cloneNode(true));
            endYearSelect.appendChild(option.cloneNode(true));
        }

        // Add option for 2025
        var option2025 = document.createElement('option');
        option2025.value = 2025;
        option2025.textContent = 2025;
        startYearSelect.appendChild(option2025);
        endYearSelect.appendChild(option2025.cloneNode(true));
    }

    // Call the function to populate the years when the page loads
    window.onload = populateYears;
</script>

{% endblock %}
{% endblock %}