{% load static %}
<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
            aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark">
            <a href=".">
                <img src="{% static '/static/photos/pupqc_logo.png' %}" width="110" height="32" alt="Tabler"
                    class="navbar-brand-image">
            </a>
            HFAM
        </h1>
        <div class="navbar-nav flex-row d-lg-none">
            <div class="nav-item dropdown">
                {% comment %} <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
                    aria-label="Open user menu">
                    <div class="d-none d-xl-block ps-2">
                        <div>{% if user.is_authenticated %}
                            <a href="#" class="d-block">{{ user.user_firstname }} {{ user.user_lastname }}</a>
                            {% endif %}
                        </div>
                    </div>
                </a> {% endcomment %}
                {% if request.user.is_authenticated %}
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
                            aria-label="Open user menu">
                            {% if request.user.user_picture %}
                            <span class="avatar avatar-sm"
                                style="background-image: url({{ request.user.user_picture.url }})"></span>
                            {% else %}
                            <!-- Provide a default image or placeholder if user_picture is not available -->
                            <span class="default-avatar border-1"></span>
                            {% endif %}
                            <div class="d-none d-xl-block ps-2">
                                <div>{{ request.user.get_full_name }}</div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <a href="./profile.html" class="dropdown-item">Profile</a>
                            <a href="./settings.html" class="dropdown-item">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'admin_logout' %}" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="collapse navbar-collapse" id="sidebar-menu">
            <ul class="navbar-nav pt-lg-3">
                <li class="nav-item {% if request.path == '/dashboard/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'dashboard' %}">
                        <span class="material-symbols-outlined m-1">monitoring</span>
                        <span class="nav-link-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item {% if request.path == '/attendancerecord/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'attendancerecord' %}">
                        <span class="material-symbols-outlined m-1">event_available</span>
                        <span class="nav-link-title">Attendance Record</span>
                    </a>
                </li>
                <li class="nav-item {% if request.path == '/user_list/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'user_list' %}">
                        <span class="material-symbols-outlined m-1">group</span>
                        <span class="nav-link-title">Users</span>
                    </a>
                </li>
                <li class="nav-item {% if request.path == '/shift_list/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'shift_list' %}">
                        <span class="material-symbols-outlined m-1">schedule</span>
                        <span class="nav-link-title">Facutly Shift</span>
                    </a>
                </li>
                <li class="nav-item {% if request.path == '/leaveappreq_list/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'leaveappreq_list' %}">
                        <span class="material-symbols-outlined m-1">date_range</span>
                        <span class="nav-link-title">Leave Application</span>
                    </a>
                </li>
            </ul>
        </div>        
    </div>
</aside>