{% extends "admin_end/base.html" %}
{% load static %}
{% block content %}
<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          Overview
        </div>
        <h2 class="page-title">
          Users
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- Page body -->
<div class="page-body">
  <div class="container-xl">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <form id="userForm" method="post" action="{% url 'user_update' user.id %}" enctype="multipart/form-data" onsubmit="validateForm()">
          {% csrf_token %}
          <div class="row">
            <div class="col">
              <div class="form-floating mb-1">
                <input name="user_picture" type="file" class="form-control" id="" value="">
                <label for="">Picture</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-1">
                <input name="user_firstname" type="text" class="form-control" id="" value="{{ user.user_firstname }}" required>
                <label for="">First Name</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-1">
                <input name="user_lastname" type="text" class="form-control" id="" value="{{ user.user_lastname }}" required>
                <label for="">Last Name</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-1">
                <select name="employment_status" class="form-select" id="" required>
                  <option selected disabled>Open this select menu</option>
                  <option value="Part-Time" {% if user.employment_status == 'Part-Time' %}selected{% endif %}>Part-time</option>
                  <option value="Full-Time" {% if user.employment_status == 'Full-Time' %}selected{% endif %}>Full-Time</option>
                </select>
                <label for="floatingSelect">Employment Status</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-1">
                <select name="user_role" class="form-select" id="" required>
                  <option selected disabled>Open this select menu</option>
                  <option value="superadmin" {% if user.user_role == 'superadmin' %}selected{% endif %}>Super Admin</option>
                  <option value="admin" {% if user.user_role == 'admin' %}selected{% endif %}>Admin</option>
                  <option value="faculty" {% if user.user_role == 'faculty' %}selected{% endif %}>Faculty</option>
                </select>
                <label for="floatingSelect">Role</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-1">
                <input name="email" type="email" class="form-control" id="" value="{{ user.email }}" required>
                <label for="">Email Address</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-1">
                <input name="password" type="password" class="form-control" id="password" value="">
                <label for="">Password</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-1">
                <input name="password" type="password" class="form-control" id="confirmPassword" value="">
                <label for="">Password</label>
              </div>
            </div>
          </div>
          <!-- Add the submit button -->
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% block css %}
<!-- Include external CSS stylesheets -->

<!-- Additional CSS for the specific page -->
<style>

</style>

{% comment %} Include external JavaScript libraries {% endcomment %}
{% endblock %}

{% block javascript %}

{% comment %} specific js {% endcomment %}
<script>
  function validateForm() {
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmPassword").value;

    if (password !== confirmPassword) {
      alert("Passwords do not match. Please try again.");
      event.preventDefault(); // Prevent form submission
    }
  }
</script>
{% endblock %}
{% endblock %}